---
BasedOnStyle: LLVM
AccessModifierOffset: '-2'
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
ColumnLimit: '80'
IndentCaseLabels: 'true'
IndentPPDirectives: AfterHash
IndentWidth: '2'
NamespaceIndentation: All
TabWidth: '2'
UseTab: Never

...
